p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.request {
    font-size: 30px;
    margin-bottom: 20px;
}

input {
    display: block;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-bottom: 7px;
    border: none;
    border-radius: 0;
    background-color: rgb(234, 234, 234);
}
.destination {
    margin-bottom: 30px;
}

button {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 17px;
    padding-right: 17px;
}

.request-now-button {
    border: none;
    border-radius: 0;
    background-color: black;
    color: white;
    margin-right: 10px;
}

.schedule-button {
    border: none;
    border-radius: 0;
    background-color: rgb(234, 234, 234);
}