input {
    border-style: solid;
    border-color: rgb(183, 183, 183);
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 1px;
}