P {
    font-family: Montserrat;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
}

.delivery {
    text-decoration: underline;
}